/* Geral */
body {
    background-image: url('./img/back.jpg');
    background-size: cover;
    /* background-position-y: -200px; */
}

textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover {
    color: rgb(83, 172, 172);
}

/* container login */

#login-container {
    background-color: rgb(43, 40, 40);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    color: blueviolet;
}

/* form */

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid rgb(119, 7, 141);
}
    
#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: cornsilk;
    background-color: rgb(126, 12, 136);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(146, 72, 175);
    transition: .5s;

}

/* redes sociais */

#social-container, #social-container p {
    margin-bottom: 20px;
}

#social-container i {
    height: 40px;
    width: 40px;
    background-color: rgb(21, 76, 139);
    border-radius: 50%;
    line-height: 40px;
    color: ghostwhite;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook-f {
    background-color: mediumblue;
}

.fa-google {
    background-color: rgb(255, 255, 255);
}

.texto-centro {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate( -50% , -50% );
}

.img-container {
    position: relative;
    width: 30%;
  }
  
.img-container img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s;
  }

.img-container img:hover {
    filter: none;
}
  
.img-container .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
.img-container .btn:hover {
    background-color: black;
}



main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

header {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 2.5rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 2rem;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.item img {
    width: auto;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.button {
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 16px 10px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

body.home{
    background-image:url("./img/homeback.jpg");
    color: #EEEEEE;
}

body.listajogo{
    background-image:url("./img/back2.jpg");
    color: cornsilk;
}

.box {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

body.sobre{
    color: cornsilk;
}

body.Cuphead{
    background-image:url("./img/cupheadback.jpg");
}

body.KirbySeries{
    background-image:url("./img/kirbyback.jpg");
}

body.KirbyStar{
    background-image:url("./img/kirbystarback.jpg");
}

body.SuperMario{
    background-image:url("./img/marioback.jpg");
}

body.MarioKart{
    background-image:url("./img/mariokartback.jpg");
}

body.Undertale{
    background-image:url("./img/undertaleback.jpg");
}